/** Improving the contrast a little bit */

body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, .header-title {
  font-family: 'Merriweather', serif;
}

a {
    color: #024b8a;
}

.btn-primary {
    background-color: #024b8a;
}

/********/

.blog_excerpt {
    padding: 6px;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    border-color: #bdbdbd;
}

.table-nonfluid {
  width: auto !important;
}

.media-list > tbody > tr > td {
  vertical-align: middle;
}

.media-list > tbody > tr > td.title {
  font-weight: bold;
}

.tile {
    padding: 0;
    min-height: 100px;
    text-align: center;
    border: 0;
    position: relative;
}

.tile-figure {
    position: relative;
    margin: 4px 8px 4px 0;
    border-radius: 15px;
    overflow: auto;
}

.tile img {
  max-width: 100%;
  -webkit-filter: sepia(0);
  -webkit-transition: .5s ease-in-out;
  -moz-filter: sepia(0); 
  -moz-transition: .5s ease-in-out;
  -o-filter: sepia(0); 
  -o-transition: .5s ease-in-out;
  filter: sepia(0);
}

.tile img:hover {
  -webkit-filter: sepia(1);
  -webkit-transition: .5s ease-in-out;
  -moz-filter: sepia(1);
  -moz-transition: .5s ease-in-out;
  -o-filter: sepia(1);
  -o-transition: .5s ease-in-out;
  filter: sepia(1);
}

.tile-caption {
    position: absolute;
    font-size: 1.2em;
    
    right: 0; bottom: 0; left: 0;
    
    background: black; /* fallback */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#bb000000, endColorstr=#bb000000); /* IE fix */
    background: rgba(0,0,0,.7); /* transparent background */  
    color: #fff; 
  
    padding: 10px;    /* padding around text */    
}

.header-title {
    font-size: 2em;
    vertical-align: top;
    margin-top: 0.5em;
}

@media (max-width: 767px) {
  .header-title {
    font-size: 1.5em;
  }
}

.top-space {
    margin-top: 5px;
}

.title-icon {
  margin-top: 5px;
  margin-right: 10px;
  border-radius: 15px;
  overflow: auto;
}

.main-menu {
  margin-top: 1em;
  margin-left: 0;
}

.list-inline > li {
  padding-left: 0;
}

/*
.list-inline-item + .list-inline-item::before {
  content: "-";
}
*/
.rounded-box {
  border-radius: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: #bbb;
  overflow: auto;
}

.postheader {
  margin-bottom: 10px;
}

