---
layout: default
url: index.html
---

<div class="row top-space">
  <div class="row" style="margin-left: 0; margin-right: 0;">

    {% include render_tile.html span="4" title="LTWords" url="/ltWords/web/index" img="kauno_rotuse.jpg" %}
{% include render_tile.html span="4" title="VKWebEdit" url="/vkwebedit/" img="vkwebedit.png" %}
  </div>


  <div class="row" style="margin-left: 0; margin-right: 0;">
    {% include render_tile.html span="4" title="Retalls" url="/retalls.html" img="patchwork.jpg" %}
    {% include render_tile.html span="4" title="KD2X3" url="/kd2x3.html" img="microphone.jpg" %}
    {% include render_tile.html span="4" title="Canciones de campamento" url="/canciones_de_campamento.html" img="fuegoCampamento.jpg" %}
  </div>
</div>

