{% if page.tracklist %}
<div>
  <ul class="list-unstyled">
  {% for item in page.tracklist %}
    <li>
    <figure>
      <figcaption>
      <a href="{{ '/media/audio/' | append:item.url | append:'.mp3' | prepend:site.baseurl }}"><strong>{{ item.title }}</strong></a>
    {% if item.description %} ({{ item.description }}) {% endif %}
    {% if item.lyrics %}
      [<a class="a-lyrics" href="{{ '/media/audio/' | append:item.lyrics | prepend:site.baseurl }}" title="Lyrics">Lyrics</a>]
    {% endif %}
    {% if item.score %}
      [<a class="a-score" href="{{ '/media/audio/' | append:item.score | prepend:site.baseurl }}" title="Score">Score</a>]
    {% endif %}
      </figcaption>
    <audio title="{{ item.title }}" controls="controls" preload="none">
      <source src="{{ '/media/audio/' | append:item.url | append:'.mp3' | prepend:site.baseurl }}" type="audio/mpeg"/>
      <a href="{{ '/media/audio/' | append:item.url | append:'.mp3' | prepend:site.baseurl }}">{{ item.title }}</a>
    </audio>
    </figure>
  </li>
  {% endfor %}
</ul>
</div>
{% endif %}
