---
layout: default
---
<header class="postheader">
  <small>
    <time class="badge" datetime="{{ page.date | date: '%Y-%m-%d'}}">
    {{ page.date | date: '%Y-%m-%d'}}
    </time>
  </small>
</header>
<div class="postdetails top-space">
{% if page.description %}
<div class="well well-sm">
{{ page.description }}
</div>
{% endif %}

{{ content }}

<hr/>
<div class="row">
<div class="col-md-12">
<ul class="nav nav-pills">
  <li>
    <a href="https://twitter.com/intent/tweet?text=David%20Sánchez%20Crespillo&url=http://sanchezcrespillo.info{{ site.baseurl }}{{ page.url }}">
      <img src="{{ '/media/img/twitter_32.png' | prepend:site.baseurl }}" alt="Share on Twitter" />
    </a>
  </li>
  <li>
    <a href="https://www.facebook.com/sharer/sharer.php?u=http://sanchezcrespillo.info{{ site.baseurl }}{{ page.url }}">
      <img src="{{ '/media/img/facebook_32.png' | prepend:site.baseurl }}" alt="Share on Facebook" />
    </a>
  </li>
  {% if page.categories %}
  {% for tag in page.categories %}
  <li class="smalle">
        {{ tag }}
  </li>
  {% endfor %}
  {% endif %}
</ul>
</div>
</div>
</div>

